@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400&display=swap');
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}
	html {
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Raleway', sans-serif;
		font-size: 1em;
		background: transparent;
		color: #000;
		line-height: 1.6;

	}
	a {
		text-decoration: none;
		font-size: 0.89em;
	}
	ul {
		list-style-type: none;
	}
	i:hover {
		color: #eb6a4d;
	}
	.title {
		font-style: italic;
		text-align: center;
		color: #eb6a4d;
		text-transform: uppercase;
	}
	.span {
		color: #eb6a4d;
	}
	img {
		width: 100%;
		height: auto;
	}
	
	.btn {
		display: inline-block;
		padding: 0.5em 2em;
		margin: 1em 0;
		text-align: center;
	}
	.btn-primary {
		background: transparent;
		color: #fff;
		text-transform: uppercase;
		border:2px solid #eb6a4d;;
		transition: background 1s;

	}
	.btn-secondary {
		border: none;
		text-align: center;
		text-transform: uppercase;
		color: #f4f4f4;
		background:#eb6a4d;;
		display: inline-block;
		cursor: pointer;
		border-radius: 5px;
	}
	.btn-primary:hover {
		background: #eb6a4d;;
		border: none;
		color: #f4f4f4;
	}
	.btn-secondary:hover {
		color: #000;
		background: transparent;
		border: 2px solid #eb6a4d;
	}
	.lead {
		padding: 1em 0;
	}
	.desc {
		text-align: center;
	}
	.grid-two {
		margin: 1em 0;
		padding: 1em;
	}
	/* navbar */
		#navbar {
		width: 100%;
		padding: 1em 0;
		background: #f4f4f4;
		border-bottom: 1px solid #eee;
	}
	.logo {
		text-transform: uppercase;
		color: #000;
	}
	.logo a {
		color: #000;
	}
	#navbar ul li a{
		text-transform: uppercase;
		font-weight: bold;
		color: #000;
	}

	#navbar ul li a:hover{
		color: #eb6a4d;
	}
	#navbar ul li a:active {
		color: #eb6a4d;
	}
	#navbar i {
		color: #000;
		font-size: 1.5em;
	}
	
	/* about */
	#about {
		background: #f4f4f4;
	}

	/* services */
	#services {
		background: #eee;
	}

	/* projects */
	#projects {
		background: #f4f4f4;
	}

	/* contact */
	#contact {
		background: #eee;
	}
	.contact-flex {
		text-align: center;
	}
	.contact-flex p{
		padding: 0.5em 0;
	}
	#contact a {
		color: #000;
	}
	#contact i {
		font-size: 1.5em;
	}
	input {
		width: 100%;
		margin: 1em 0;
		padding: 1em;
		background: transparent;
		border:1.5px solid #000;
		border-radius: 5px;
		color: #000;
	}
	textarea {
		width: 100%;
		padding: 5em 1em;
		margin: 1em 0;
		background: transparent;
		border:1.5px solid #000;
		border-radius: 5px;
		color: #000;
	}
	button {
		border: none;
		text-align: center;
		text-transform: uppercase;
		color: #f4f4f4;
		background: #eb6a4d;
		width: 100%;
		display: inline-block;
		padding: 1em 0;
		cursor: pointer;
		border-radius: 5px;
	}
	input:focus {
		outline: none;
	}
	textarea:focus {
		outline: none;
	}
	button:hover {
		opacity: 0.7;
	}


	/* blog content */

	#blog {
		background: #f4f4f4;
	}

	/* footer */
	#main-footer {
		background: #333;
		text-align: center;
		color: #f4f4f4;
	}
	.footer-logo {
		text-transform: capitalize;
	}
	#main-footer i {
		margin: 1em 0;
		color: #f4f4f4;
		font-size: 1.5em;
		padding: 0 0.5em;
	}
	#blog-main {
	 background: #f4f4f4;
	}