/* mobile */
@media (max-width: 480px) {

	.container {
		width: 85%;
		margin: auto;
	}
	#blog-main{
		padding: 4em 0;
	}
	.title {
		padding: 1em 0;
	}
	/* navbar */
	#navbar {
		text-align: center;
	}
	#navbar ul {
		display: none;
	}
	
	/*showcase */
	#showcase {
		background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('../images/showcase.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		text-align: center;
		height: 50vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.showcase-content {
		color: #f4f4f4;
	}
	#showcase h1 {
		text-transform: uppercase;
		font-size: 1.5em;
	}
	#showcase h3 {
		font-size: 1.25em;
	}
	#showcase .btn {
		display: none;
	}
	/* about */
	#about {
		padding: 3em 0;
		background: #f4f4f4;
	}

	/* services */
	#services {
		padding: 3em 0;
		background: #eee;
	}
	/* projects */
	#projects {
		padding: 3em 0;
		background: #f4f4f4;
	}
	#projects .grid-three {
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-gap: 1em;
	}
	/* contact */
	#contact {
		padding: 3em 0;
	}
	.contact-info {
		display: grid;
		grid-template-columns: 100%;
	}
	
	/* blog content */
	#blog-content {
		padding: 3em 0;
	}
	.container-fluid {
		width: 85%;
		margin: auto;
	}
	.article {
		display: grid;
		grid-template-columns: 1fr 3fr;
		grid-gap: 1em;
		margin: 1em 0;
	}
	/* blog */
	#blog {
		padding: 3em 0;
		background: #f4f4f4;
	}
	.grid-four {
		display: grid;
		grid-template-columns: 2fr;
		grid-gap: 1em;
	}
	/* footer */
	#main-footer {
		background: #333;
		padding-top: 3em;
		text-align: center;
		color: #f4f4f4;
	}
	#main-footer i {
		margin: 1em 0;

}
}